body {
}

.custom-link {
    color: black;  /*Color del texto*/ 
    text-decoration: none;  /*Eliminar subrayado*/ 
}

.custom-link:hover {
    color: #fff;  /*Mantener el color del texto al pasar el mouse*/
    background-color: #555;  /*Color de fondo más claro al pasar el mouse*/ 
}

.list-group-item:hover {
    background-color: #555;  /*Color de fondo más claro al pasar el mouse*/ 
}
